/* Styling for the slider within the banner */
.banner .slider {
  transform-style: preserve-3d;
  transform: perspective(70vw) rotateX(-16deg);
}

/* Styling for each item within the slider */
.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0; /* Full size of the parent */
  border: solid #012332;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(17vw);
}

/* Styling for images within each slider item */
.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Styling for images within each slider item */
.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Styling for the slider within the banner */
.banner .slider {
  transform-style: preserve-3d;
  transform: perspective(70vw) rotateX(-16deg);
  transition: transform 0.5s ease; /* Add transition */
}

/* Styling for each item within the slider */
.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0; /* Full size of the parent */
  border: solid #012332;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(26vw);
  transition: transform 0.5s ease; /* Add transition */
}
@media (min-width: 768px) {
  .banner .slider .item {
    position: absolute;
    inset: 0 0 0 0; /* Full size of the parent */
    border: solid #012332;
    transform: rotateY(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translateZ(17vw);
    transition: transform 0.5s ease; /* Add transition */
  }
}
